body, nav, main, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.fundo-principal {
    background-color: #edeaea;
}

.menu {
    background-color: #e41293;
    padding: 30px 0;
    text-align: end; /*coloca os itens no final da página */
}
.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none; /* tira estilo de lista */

}

.menu ul li {
    display: inline-block;
    margin: 0 20px;
    color: white;

}

.menu ul li a {
text-decoration: none;
color: white;
font-size: 20px;
font-weight: bold;
}

.principal {
    padding-top: 0;
    text-align: center;
    background-color: #edeaea;
}

.conteudo_principal {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo_principal h1 {
    font-size: 25px;
    color: #8f0d63;
    margin-bottom: 10px;

}

.conteudo_principal h2 {
    font-size: 20px;
    color: #a83d88;
    margin-bottom: 25px;
}
#sobre {
    padding: 50px;
    text-align: center;
    max-width: 600px;
}

.minha-imagem {
    width: 200px;
    border-radius: 100px;

}
.título {
    color: #938DF8;
    font-size: 36px;
    font-family: 'Open Sans, Sans-Serif' ;
    
}
.subtítulo {
    font-size: 24px;
    font-weight: 700;
}
.primeiro-paragrafo {
    font-size: 16px;
    line-height: 22.4px;
    max-width: 500px;
    text-align: center;
    color: #a83d88;
}

#profissional {
    background-color:#EDEAEA;
    padding: 30px 80px;
}

#profissional h1 {
    color: #94077c;
    margin-bottom: 30px;
    font-size: 25px;
}

.conteudo_profissional {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inf_profissional {
    width: 100%;
    max-width: 600px;
    margin-bottom: 40px;
}

.inf_profissional h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.inf_profissional h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
.inf_profissional h4 {
    font-size: 20px;
    margin-bottom: 10px;

}
#formacao {
    background-color: #fff;
    padding: 30px 80px;
}

.titulo_formacao {
    color: #94077c;
    font-size: 25px;
}

.conteudo_formacao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_formacao {
    width: 100%;
    max-width: 600px;
    margin-bottom: 1px;
}

#rodape {
    background-color: #e41293;
    padding: 30px;
    color: white;
}

.rodape_item span a {
    color: white;
    text-decoration: none;
}

.rodape_item {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.rodape_icon {
    width: 25px;
    margin-right: 10px;
}